table,
blockquote,
p {
  margin-top: 0;
  margin-bottom: $margin;

  &:last-child {
    margin-bottom: 0;
  }
}

address,
i {
  font-style: normal;
}

/* ul {
  margin-top: 0;
  margin-bottom: $margin;
  padding-left: 0;
  list-style: none;
}

li {
  position: relative;
  margin-bottom: 10px;
  &:last-child {
    margin-bottom: 0;
  }
} */
