{% extends "components/base.twig" %}
{% from "mock/ui.twig" import picture, svg,button, input, toggle, radio, checkbox %}

{% block title %}Главная{% endblock %}
{% block body %}

<section class="intro block" js-intro>
  <div class="intro__wrapper block__wrapper">
    <h1 class="intro__title">Террасная доска</h1>
    <p class="intro__side">Производим древесно-композитный декинг высокого качества: террасную доску, сайдинг и погонаж в размер заказчика</p>
  </div>
  <a class="intro__scroll scroll scroll_down" href="#" js-scroll-down aria-label="Пролистнуть страницу вниз" title="Пролистнуть страницу ниже">
    <svg class="scroll__icon"
        viewBox="0 0 86.001 86.001"
        width="25"
        height="25">
      <use xlink:href="images/inline-svg.svg#icon-arrow-down"></use>
    </svg>
  </a>
</section>

<section class="edges block">
  <div class="edges__wrapper block__wrapper">
    <h2 class="visually-hidden">Наши преимущества перед конкурентами</h2>
    <ul class="edges__list" js-slider>
      {% set edges = [
        {
          "title": "Cобственное<br>производство",
          "description": "Контроль за всеми стадиями производственного процесса",
          "icon": {
            "id": "icon-gift",
            "viewBox": "0 0 50 50",
            "width": "50",
            "height": "50"
          }
        },
        {
          "title": "Расширенный ассортимент продукции",
          "description": "Возможность выбора от изделий до&nbsp;комплектующих",
          "icon": {
            "id": "icon-choices",
            "viewBox": "0 0 50 50",
            "width": "50",
            "height": "50"
          }
        },
        {
          "title": "Для любого<br>бюджета",
          "description": "Заботимся о том, что продукция была&nbsp;доступна для Вас",
          "icon": {
            "id": "icon-wallet",
            "viewBox": "0 0 50 50",
            "width": "50",
            "height": "50"
          }
        },
        {
          "title": "Повышенная влагостойкость",
          "description": "Устойчивый материал к&nbsp;воздействию&nbsp;влаги",
          "icon": {
            "id": "icon-resistantance",
            "viewBox": "0 0 50 50",
            "width": "50",
            "height": "50"
          }
        }
      ] %}
      {% for item in edges %}
        <li class="edges__item">
          {% include "components/edge.twig" with {item: item} %}
        </li>
      {% endfor %}
    </ul>
  </div>
</section>

<section class="demo block"  data-aos="fade-left">
  <div class="demo__wrapper block__wrapper">
    <h2 class="visually-hidden">Мы занимаемся производством террасных досок</h2>
    <div class="demo__row">
      <h2 class="demo__title">Террасная доска «‎ДПК»</h2>
      <p>Это несложный монтаж, привлекательный внешний вид и&nbsp;долговечность</p>
    </div>
    <div class="demo__row">
      <div class="demo__image">
        <svg class="demo__icon"
          viewBox="-24 0 480 480"
          width="480"
          height="480">
          <use xlink:href="images/inline-svg.svg#icon-business"></use>
        </svg>
      </div>
      {{ button('Перейти в каталог', {href: "catalog.html"}) }}
    </div>
  </div>
</section>

<section class="hits block">
  <div class="hits__wrapper block__wrapper">
    <h2 class="hits__title">Популярные товары</h2>
    <ul class="hits__list" js-slider>
      {% set hits = [
        { 
          "href": "catalog.html",
          "name": "Террасная доска ‎<i>«</i>Эконом<i>»</i>",
          "picture": {
            "raster": "images/hit-1.png",
            "webp": "images/hit-1.webp",
            "alt": "Изображение террасной доски"
          },
          "title": "Перейти на страницу каталога",
          "aria": "Ссылка на страницу товара"
        },
        { 
          "href": "catalog.html",
          "name": "Сайдинг <i>«</i>ДПК<i>»</i>",
          "picture": {
            "raster": "images/hit-2.png",
            "webp": "images/hit-2.webp",
            "alt": "Изображение фасадной панели из сайдинга"
          },
          "title": "Перейти на страницу каталога",
          "aria": "Ссылка на страницу товара"
        },
        { 
          "href": "catalog.html",
          "name": "Террасная доска <i>«</i>СТАНДАРТ<i>»</i>",
          "picture": {
            "raster": "images/hit-3.png",
            "webp": "images/hit-3.webp",
            "alt": "Изображение террасной доски класса «Cтандарт»"
          },
          "title": "Перейти на страницу каталога",
          "aria": "Ссылка на страницу товара"
        }
      ] %}
      {% for item in hits %}
        <li class="hits__item">
          {% include "components/hit.twig" with {item: item} %}
        </li>
      {% endfor %}
    </ul>
  </div>
</section>

<section class="map block" data-aos="zoom-in">
  <div class="map__wrapper block__wrapper">
    <h2 class="visually-hidden">Наше производство находится в Алтайском крае, в г. Бийске, ул. Васильева 93 B</h2>
    <div class="map__container">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2428.465346739791!2d85.12918521518677!3d52.506917079811714!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x42c4a9f28379bcfd%3A0x393aae2a3b4079f4!2z0YPQuy4g0JLQsNGB0LjQu9GM0LXQstCwLCA5M9CyLCDQkdC40LnRgdC6LCDQkNC70YLQsNC50YHQutC40Lkg0LrRgNCw0LksIDY1OTMxNQ!5e0!3m2!1sru!2sru!4v1556000331682!5m2!1sru!2sru" allowfullscreen></iframe>
    </div>
  </div>
</section>


<div class="modal" js-modal>
  <div class="modal__wrapper is-open" js-modal-content>
    <button class="modal__toggle " type="button" aria-label="Кнопка для закрытия модального окна" js-modal-close>
      <span></span>
    </button>
    <form class="modal__call-form call-form" action="#" method="POST">
      <div class="call-form__wrapper">
        <h2 class="call-form__title">Форма обратной связи</h2>
        <ul class="call-form__fieldsets">
          <li class="call-form__fieldset">
            <label class="call-form__label">
              <input type="text" class="call-form__input" name="name" placeholder="Имя и фамилия">
            </label>
          </li>
          <li class="call-form__fieldset">
            <label class="call-form__label call-form__label--tablet">
              <input type="email" class="call-form__input" name="email" placeholder="Электронная почта">
            </label>
            <label class="call-form__label call-form__label--tablet">
              <input type="text" class="call-form__input" name="name" placeholder="Номер телефона">
            </label>
          </li>
          <li class="call-form__fieldset">
            <label class="call-form__label">
              <textarea class="call-form__input call-form__input--textarea" name="comment" cols="30" rows="6" placeholder="Комментарий для менеджера"></textarea>
            </label>
          </li>
        </ul>
        <div class="call-form__side">
          {{ button('Отправить заявку', {type: "submit",mod: "_full", js: "js-form-submit", aria: "Кнопка для отправки формы обратной связи"}) }}
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
