{% extends "components/base.twig" %}
{% from "mock/ui.twig" import picture, svg,button, input, toggle, radio, checkbox %}

{% block title %}Главная страница{% endblock %}

{% block body %}

<section class="block">
  <div class="block__wrapper" style="display: flex; justify-content:center; align-items: center;height: 100vh">
    <span style="font-size: 50px">🤖</span>
  </div>
</section>

{% endblock %}
