.about {
  &__wrapper {
    padding: 30px 20px;
  }
  &__side {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    margin-bottom: 30px;
    
    i {
      font-style: normal;
      color: $theme-bg;
    }

    p {
      width: 100%;
    }
  }
  &__title {
    width: 100%;
    margin: 0 0 10px;
    font-size: 16px;
    text-transform: uppercase;
  }
  &__row {
    &:not(:last-child) {
      margin-bottom: 20px
    };

    /* typography */

    i {
      font-style: normal;
      color: $theme-bg;
    }

    i + span {
      color: $main-color;
    }

    span {
      text-transform: uppercase;
      font-weight: bold;
      color: $theme-bg;
    }
    blockquote {
      margin: 0;
      padding: 20px;
      width: 100%;
      font-size: 120%;
      font-style: italic; 
      color: $secondary-color;
      text-align: center;
      background-color: $theme-bg;

      i {
        color: $secondary-color;
      }
    }
  }
}

@include media($tablet-width) {
  .about {
    &__side {
      font-size: $tablet-text-size;
    }
    &__title {
      font-size: $tablet-title-text;
    }
    &__main {
      font-size: $tablet-text-size;
    }
    &__row {
      p {
        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }
      blockquote {
        padding: 40px;
      }
    }
  }
}

@include media($desktop-width) {
  .about {
    &__title {
      font-size: $desktop-title-text;
    }
  }
}