.demo {
  &__wrapper {
    display: flex;
    flex-flow: row wrap;
    padding: 30px 20px ;
  }
  &__row {
    @include flex-column(1,1,0);
    font-size: $mobile-text-size;
    text-align: center;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  &__title {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: $mobile-title-text;
    text-transform: uppercase;
  }
  &__image {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 20px;
  }
  &__icon {
    display: block;
    @include size(150px);
    fill: $theme-bg;
  }
}

@include media($tablet-width) {
  .demo {
    &__wrapper {
      align-items: center;
      justify-content: center;
      width: 505px;
      padding-left: 0;
      padding-right: 0;
    }
    &__row {
      @include flex-column(1,2,0);
      max-width: 280px;
      font-size: $tablet-text-size;
    }
    &__title,
    p {
      text-align: left;
    }
  }
}

@include media($desktop-width) {
  .demo {
    &__wrapper {
      width: 600px;
      padding-top: 20px;
      padding-bottom: 50px;
    }
    &__title {
      font-size: $desktop-title-text;
    }
  }
}