.intro {
  position: relative;
  background: url("../images/intro-bg@mobile.jpg") no-repeat 59% 50%;
  height: 350px;
  &__wrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    padding: 85px 0 0;
    max-width: 100%;
    height: 100%;
    font-size: $mobile-text-size;
    color: $secondary-color;
  }
  &__title {
    width: 100%;
    padding: 0 20px;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: $mobile-title-text;
    color: $color-black;
    text-align: right;
    text-transform: uppercase;
  }
  &__side {
    align-self: center;
    padding: 20px 20px;
    max-width: 100%;
    color: $color-white;
    background-color: rgba($theme-bg, 0.8);
  }

  &__scroll {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
  }
  &--catalog {
    background: url("../images/intro-bg-catalog@mobile.jpg") no-repeat 50% 50%;
    background-size: cover;
    .intro__title {
      align-self: flex-end;
      color: $main-color;
      margin-top: 0;
      margin-bottom: 60px;
    }
  }
  &--about {
    background: url("../images/intro-bg-about@mobile.jpg") no-repeat 50% 50%;
    background-size: cover;
    .intro__wrapper {
      justify-content: flex-start;
    }
    .intro__title {
      padding-top: 50px;
      color: $secondary-color;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &--installation {
    background: url("../images/intro-bg-installation@mobile.jpg") no-repeat 50% 50%;
    height: 350px;
    background-size: cover;
    
    .intro__wrapper {
      align-items: flex-end
    }
    .intro__title {
      color: $secondary-color;
      text-align: left;
      margin-bottom: 30px;
    }
  }
}

@include media($tablet-width) {
  .intro {
    background: url("../images/intro-bg@tablet.jpg") no-repeat 50% 55%;
    background-size: cover;
    height: 500px;
    &__wrapper {
      padding: 100px 20px 105px;
    }
    &__title {
      font-size: 36px;
      margin-top: 0;
      margin-bottom: 10px;
      text-align: center;
    }
    &__side {
      max-width: 500px;
      padding: 0;
      font-weight: $font-weight-bold;
      color: $main-color;
      text-align: center;
      text-transform: uppercase;
      background-color: rgba($color-white, 0);
    }
    &--catalog {
      background: url("../images/intro-bg-catalog@tablet.jpg") no-repeat 50% 25%;
      background-size: cover;
      .intro__title {
        color: $main-color;
        margin-bottom: 0;
      }
    }
    &--about {
      background: url("../images/intro-bg-about@tablet.jpg") no-repeat 50% 25%;
      background-size: cover;
      .intro__title {
        padding-top: 90px;
      }
    }
    &--installation {
      background: url("../images/intro-bg-installation@tablet.jpg") no-repeat 25% 50%;
      background-size: cover;
      .intro__title {
        margin-bottom: 114px;
      }
    }
  }
}

@include media($desktop-width) {
  .intro {
    &__wrapper {
      max-width: $max-width;
      font-size: $tablet-text-size;
    }
    &__side {
      max-width: 600px;
    }
  }
}