.intro {
  background: url("../images/intro-bg@mobile.jpg") no-repeat 50% -55%;

  overflow: hidden;
  &__wrapper {
    display: flex;
    flex-flow: row wrap;
    padding: 85px 0 0;

    font-size: $mobile-text-size;
    color: $secondary-color;
  }
  &__title {
    flex: 0 1 100%;
    padding: 0 20px;
    margin-bottom: 95px;
    font-size: $mobile-title-text;
    color: $color-black;
    text-align: right;
    text-transform: uppercase;
  }
  &__side {
    align-self: center;
    padding: 20px 20px;
    max-width: 100%;
    color: $color-white;
    background-color: rgba($theme-bg, 0.5);
  }
}

@include media($tablet-width) {
  .intro {
    background: url("../images/intro-bg@tablet.jpg") no-repeat 50% 25%;
    background-size: auto auto;
    height: 625px;
    &__wrapper {
      justify-content: center;
      padding: 100px 20px 300px;
    }
    &__title {
      font-size: 36px;
      margin-top: 0;
      margin-bottom: 30px;
      text-align: center;
    }
    &__side {
      max-width: 500px;
      padding: 0;
      font-weight: $font-weight-bold;
      color: $main-color;
      text-align: center;
      text-transform: uppercase;
      background-color: rgba($color-white, 0);
    }
  }
}

@include media($desktop-width) {
  .intro {
    &__wrapper {
      font-size: $tablet-text-size;
    }
    &__side {
      max-width: 600px;
    }
  }
}