.modal {
  position: fixed;
  top: 0;
  left: -100%;
  bottom: 0;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  background-color: rgba($main-color, 0.7);
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  z-index: 100;
  &.is-open {
    left: 50%;
    transform: translateX(-50%);
  }
  &__wrapper {
    position: relative;
    padding: 59px 20px 20px;
    max-width: $mobile-width;
    margin: 0 auto;
    background-color: #fff;
    opacity: 0;
    transition: all 0.35s ease-in-out;
    &.is-open {
      opacity: 1;
    }
  }
  &__toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    @include size(25px);
    padding: 0;
    border: none;
    background-color: rgba(0,0,0,0);
    span {
      position: relative;
      display: block;
      width: 100%;
      height: 0;
      &::before,
      &::after {
        content: "";
        position: absolute;
        top: -2px;
        display: block;
        background-color: $color-red;
        width: 100%;
        height: 4px;
        transition: all 0.3s;
      }
      &::before {
        transform: rotate(45deg);
      }
      &::after {
        transform: rotate(-45deg);
      }
    }
    &:focus {
      span {
        &::before,
        &::after {
          background-color: rgba($color-red, 0.9);
        }
      }
    }
    &:active {
      span {
        &::before,
        &::after {
          background-color: rgba($color-red, 0.8);
        }
      }
    }
  }
}


@include media($tablet-width) {
  .modal {
    &__wrapper {
      max-width: 500px;
    }
  }
}