.navigation {
  &__list {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: $secondary-color;
    transition: all 0.3s;
  }
  &__item {
    display: flex;
    flex: 0 1 100%;
    border-bottom: 2px solid #678fa8;
  }
  &__link {
    position: relative;
    display: flex;
    flex: 0 1 100%;
    align-items: center;
    padding: 15px 20px;

    font-size: $mobile-navigation-text-size;
    font-weight: $font-weight-bold;
    color: $secondary-color;
    text-transform: uppercase;
    text-decoration: none;
    background-color: $theme-bg;
    user-select: none;
    span {
      z-index: 1;
    }
    &--icon {
      span {
        margin-right: 10px;
      }
    }
    &:focus {
      background-color: $theme-bg-focus;
    }
    &:active {
      color: rgba($color-white, 0.3);
      background-color: $theme-bg-active;
      .navigation__icon {
        fill: rgba($secondary-color, 0.3)
      }
    }
  }
  &__icon {
    fill: $color-white;
    z-index: 1;
  }
}

@include media($tablet-width) {
  .navigation {
    &__item {
      flex: 1 1 auto;
      border-bottom: none;
      &:not(:last-child) {
        margin-right: 5px;
      }
    }
    &__link {
      padding: 7.5px 10px;
      font-size: $tablet-navigation-text-size;
      color: $main-color;
      background-color: inherit;
      &::before {
        content: "";
        position: absolute;
        bottom: -7px;
        left: 5px;
        width: calc(100% - 10px);
        min-height: 4px;
        background-color: $theme-bg;
        z-index: 1;
        opacity: 0;
        transition: all 0.3s;
      }
      &--icon {
        span {
          margin-right: 0;
        }
      }
      
      &:hover,
      &:focus {
        outline: none;
        background-color: $color-white;
        &::before {
          bottom: 0;
          width: calc(100% - 10px);
          opacity: 1;
          background-color: $theme-bg-focus;
        }
      }
      &:active {
        color: rgba($main-color, 0.7);
        background-color: $color-white;
        &::before {
          background-color: $theme-bg-active;
        }
      }
    }
    &__icon {
      display: none;
    }
  }
}