.palette {
  width: 100%;
  &__wrapper {
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
  }
  &__title {
    width: 100%;
    margin-top: 0;
    margin-bottom: 10px;
    color: $secondary-color;
    text-transform: uppercase;
    font-size: $mobile-text-size;
  }
  &__list {
    display: flex;
    flex-flow: row wrap;
    margin: 0 0 -10px;
    padding-left: 0;
    list-style: none; 
  }

  &__item {
    @include size(20px);
    margin-bottom: 10px;
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}

@include media($tablet-width) {
  .palette {
    &__wrapper {
      padding: 10px 20px;
    }
  }
}


@include media($desktop-width) {
  .palette {
    &__wrapper {
      padding: 20px;
    }
    &__title {
      font-size: $tablet-title-text;
    }
  }
}