.slider {
  &__dots {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    &.disabled {
      display: none;
    }
  }
  &__dot {
    @include size(15px);
    padding: 0;
    margin-right: 13px;
    border-radius: 50%;
    border: 3px solid rgba $color-white;
    background-color: $theme-bg;
    cursor: pointer;
    &:last-child {
      margin-right: 0;
    }
    &.active {
      border-color: $theme-bg;
      background-color: $color-white;
    }
  }
  &__navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 10px 0;
    &.disabled {
      display: none;
    }
  }
  &__arrow {
    position: relative;
    flex: none;
    display: block;
    @include size(50px);
    padding: 10px 10px;
    border: none;
    background-color: $color-white;
    svg {
      transition: all 0.3s;
      fill: $theme-bg;
    }
    &--prev {
      svg {
        transform: rotate(90deg);
      }
      margin-right: 15px;
    }
    &--next {
      margin-left: 15px;
      svg {
        transform: rotate(-90deg);
      }
    }
    &:focus {
      outline: none;
      svg {
        fill: $theme-bg-focus;
      }
    }
    &:active {
      svg {
        fill: $theme-bg-active;
      }
    }
  }
}