{% set photo = item %}

<a class="photo" href="{{ photo.main.src }}" data-fancybox="{{ photo.type }}" aria-label="Нажмите, чтобы открыть галерею с изображениями" title="Открыть галерею с изображениями">
  <div class="photo__wrapper">
    <div class="photo__main">
      <div class="photo__image">
        {# Image #}
        <img class="photo__img lazyload" data-src="{{ photo.main.src }}" alt="Изображение конструкций, которые выполнены с помощью нашего материала">

        {# CSS Layer trick #}
        <div class="photo__layer">
          <svg class="photo__icon"
            viewBox="0 0 50 50"
            width="50"
            height="50">
          <use xlink:href="images/inline-svg.svg#icon-zoom"></use>
        </div>
      </div>
    </div>
    {# {% if photo.side %}
      <div class="photo__side">

      </div>
    {% endif %} #}
  </div>
</a>

{# w760 h #}