/* Box sizes settings */
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1210px;
$max-width: $desktop-width;
$padding: 20px;
$margin: 10px;


/* Retina displays */
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

/* Colors */
$color-aqua: #00ffff;
$color-black: #292929;
$color-blue: #518DD5;
$color-funchisa: #ff00ff;
$color-gray: #97938F;
$color-green: #008000;
$color-lime: #00ff00;
$color-maroon: #800000;
$color-navy: #000080;
$color-olive: #808000;
$color-purple: #9F548C;
$color-red: #D45D5E;
$color-silver: #c0c0c0;
$color-teal: #008080;
$color-white: #ffffff;
$color-yellow: #E98D4B;

/* Fonts */
$font-fallback: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica"," Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;


$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-black: 900;

$font-family: "Lato", $font-fallback;

/* Project settings */

/**
  * *Fonts
*/
$font-weight: $font-weight-regular;
$font-size: 14px;
$color: #333333;
$line-height: 1.2;

$mobile-navigation-text-size: 18px;
$mobile-title-text: 18px;
$mobile-text-size: $font-size;

$tablet-navigation-text-size: 14px;


/**
  * *Colors
*/
$main-color: $color;
$secondary-color: $color-white;
$theme-bg: #81b3d2;
$theme-bg-focus: #669ec0;
$theme-bg-active: #5496bd;