/*  😵 $numberOfColumns ->  The number of columns occupied by the           element from the total number of columns.
    😵 $columns -> Total Columns (as Elems)
    😵 $margins -> The size of one of the horizontal margins
*/

@mixin flex-column($numberOfColumns, $columns: 1, $margins: 0) {
  @if ($numberOfColumns == $columns and $margins == 0px) {
    flex-basis: 100%;
    max-width: none;
  } @else {
    $flex-basis: unquote("calc(" + ((100 / $columns) * $numberOfColumns) + "% - " + ($margins * 2) + ")");

    flex-basis: $flex-basis;
    max-width: $flex-basis;
  }
}
